# exclude Docker artifacts
.dockerignore
Dockerfile
docker.md
docker

# exclude gitlab and github artifacts
.github
.gitlab-ci.yml
.gitpod.Dockerfile
.gitpod.yml 
sonar-project.properties

# exclude artifacts from native build
cmake_build
**/*/cmake_build
