[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
	ignore = dirty # So the generated folder doesn't show up in git status
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11
[submodule "extern/t-route"]
	path = extern/t-route
	url = https://github.com/noaa-owp/t-route.git
  branch = ngen
[submodule "extern/cfe/cfe"]
	path = extern/cfe/cfe
	url = https://github.com/NOAA-OWP/cfe.git
	branch = master
[submodule "extern/topmodel/topmodel"]
	path = extern/topmodel/topmodel
	url = https://github.com/NOAA-OWP/topmodel.git
	branch = master
[submodule "extern/noah-owp-modular/noah-owp-modular"]
	path = extern/noah-owp-modular/noah-owp-modular
	url = https://github.com/NOAA-OWP/noah-owp-modular
	branch = main
[submodule "extern/bmi-cxx"]
	path = extern/bmi-cxx
	url = https://github.com/csdms/bmi-cxx.git
[submodule "extern/evapotranspiration/evapotranspiration"]
	path = extern/evapotranspiration/evapotranspiration
	url = https://github.com/NOAA-OWP/evapotranspiration.git
        branch = master
[submodule "extern/SoilFreezeThaw/SoilFreezeThaw"]
	path = extern/SoilFreezeThaw/SoilFreezeThaw
	url = https://github.com/NOAA-OWP/SoilFreezeThaw
        branch = master
[submodule "extern/SoilMoistureProfiles/SoilMoistureProfiles"]
	path = extern/SoilMoistureProfiles/SoilMoistureProfiles
	url = https://github.com/NOAA-OWP/SoilMoistureProfiles
	branch = main
[submodule "extern/sloth"]
	path = extern/sloth
	url = https://github.com/noaa-owp/SLoTH
	branch = latest
[submodule "extern/netcdf-cxx4"]
	path = extern/netcdf-cxx4/netcdf-cxx4
	url = https://github.com/Unidata/netcdf-cxx4/
[submodule "extern/lstm/lstm"]
	path = extern/lstm/lstm
	url = https://github.com/CIROH-UA/lstm
